@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");




    .icon::before {
        display: inline-block;
        margin-right: .5em;
        font-family: fontawesome;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

		.icon > .label {
			display: none;
		}

	.cover-img {
		height: 700px;
		display: table;
		width: 100%;
		background-size: cover;
	}

/* PC size */
	@media only screen and (min-width: 1500px) {
		.cover-img {
			height: 800px;
		}
	}

	/* tab size */
	@media only screen and (min-width : 768px) and (max-width : 1200px) {
		.cover-img {
			height: 500px;
		}
	}

	/* mobile size */
	@media only screen and (max-width: 479px) {
		.cover-img {
			height: 300px;
		}
	}

	.cover-text {
		display: table-cell;
		vertical-align: middle;
	  text-align: center;
	}