* {
  box-sizing: border-box;
}

/* header */
header {
  background-color: rgba(45, 163, 159, 0.9);
  color: #fff;
  height: 70px;
  width: 100%;
  position: fixed;


}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 10px;
}

/*body*/

body {
  margin: 0;
  font-family: "Avenir Next";
  }

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*top-wrapper*/
.top-wrapper{
  padding: 180px 0 100px 0;
  background-image: url(img/fenix.JPG);
  background-size: cover; 
  color: white;
  text-align: left;
}

.top-wrapper h2,span{
  font-size: 36px;
  opacity: 0.8;
  letter-spacing: 6px;
}

.top-wrapper span {
  color: #ff4a4a;
}

/*contents-wrapper*/
.contents-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.content{
  float: left;
  width: 33%;
}

.heading{
  font-weight: bold;
}

.content-text{
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  font-weight: normal;
}
    
  .contents {
    height: 500px;
    margin-top: 100px;
  }
  
.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  

  
footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
    text-align: center;
  }
  
.footer-logo {
    float: inline-start;
    font-size: 30px;
  }
  
